<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        .site-blocks-cover.overlay{
            position: relative;
        }
        .site-blocks-cover, .site-blocks-cover>.container>.row {
            min-height: 600px;
            height: calc(100vh);
        }
        .site-blocks-cover {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            background-position: center center;
            overflow: hidden;
            position: relative;
        }
        .section-title {
            position: relative;
            padding-bottom: 20px;
        }
        .service .svg-icon{
          margin-right: 10px;
        }
        .service{
          padding: 30px;
          background: #fff;
          box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
          position: relative;
        }
        p{
          margin-top: 0;
        }
        .img-fluid{
          max-width: 100px;
          height: auto;
        }
        .scrollbar::-webkit-scrollbar{
        display: none;
    }
    .date{
      color: #999999;
      display: block;
      font-size: .9rem;
      margin-bottom: 15px;
    }
    li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.d-block {
    display: block !important;
}
b, strong {
    font-weight: bolder;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top bg-info">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active font-weight-bold">
                <a class="nav-link text-dark" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark" href="#">About</a>
              </li>
              <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark" href="#">Services</a>
              </li>
              <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="site-blocks-cover overlay bg-light" style="background-image:url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80)" id="home-section">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-12 text-center align-self-center text-intro">
        <div class="row justify-content-center">
        <div class="col-lg-8">
        <h1 class="text-white">We Are Digital Services</h1>
        <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos magnam maxime voluptates libero, nobis impedit aut corrupti sunt possimus.</p>
        <p ><a href="#services-section" class="btn smoothscroll btn-primary rounded-pill">Our Services</a></p>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="container my-5 py-5">
        <div class="row ">
            <div class="col-12 mb-4 position-relative">
                <h2 class="section-title">About Us</h2>
            </div>
            <div class="col-md-6">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-md-6">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
    <div class="container my-5 py-5">
      <div class="row">
        <div class="col-12 mb-5 position-relative">
          <h2 class="section-title text-center mb-5">
            Services
          </h2>
        </div>
        <div class="col-md-6 mb-4">
          <div class="service d-flex h-100">
            <div class="svg-icon">
              <img src="png1.png" alt="image" class="img-fluid">
            </div>
            <div class="service-about">
              <h3>Content Marketing</h3>
              <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="service d-flex h-100">
            <div class="svg-icon">
              <img src="png2.png" alt="image" class="img-fluid">
            </div>
            <div class="service-about">
              <h3>Social Media Marketing</h3>
              <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="service d-flex h-100">
            <div class="svg-icon">
              <img src="png2.png" alt="image" class="img-fluid">
            </div>
            <div class="service-about">
              <h3>Brand & Logo Design</h3>
              <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="service d-flex h-100">
            <div class="svg-icon">
              <img src="png1.png" alt="image" class="img-fluid">
            </div>
            <div class="service-about">
              <h3>Social Media Advertising</h3>
              <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="service d-flex h-100">
            <div class="svg-icon">
              <img src="png1.png" alt="image" class="img-fluid">
            </div>
            <div class="service-about">
              <h3>Social Media Advertising</h3>
              <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="service d-flex h-100">
            <div class="svg-icon">
              <img src="png2.png" alt="image" class="img-fluid">
            </div>
            <div class="service-about">
              <h3>Web Design / Development</h3>
              <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 position-relative">
        <h2 class="section-title text-center mb-5">
          Projects
        </h2>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div id="filters" class="filters text-center button-group col-md-7">
        <button class="btn btn-outline-info active rounded-pill">All</button>
        <button class="btn btn-outline-info rounded-pill">Web</button>
        <button class="btn btn-outline-info rounded-pill">Design</button>
        <button class="btn btn-outline-info rounded-pill">Brand</button>
      </div>
    </div>
  </div>

  <div class="container text-center my-5">
    <h1 class="font-weight-light">
        <span class="text-info">Blog</span> Posts
    </h1>
    <div class="row my-5 pt-3">
        <div class="col-12 col-md-4 my-2">
            <div class="card shadow h-100">
                <img class="card-img-top" src="free stock 1.jpg" alt="proj-img">
                <div class="card-body">
                    <h4>Blog-1</h4>
                    <span class="date">November 17 2020</span>
                    <p class="card-text">This is my blog about...</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="card shadow h-100">
                <img class="card-img-top" src="free stock 2.jpg" alt="proj-img">
                <div class="card-body">
                    <h4>Blog-2</h4>
                    <span class="date">November 17 2020</span>
                    <p class="card-text">This is my blog about...</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="card shadow h-100">
                <img class="card-img-top" src="free stock 3.jpg" alt="proj-img">
                <div class="card-body">
                    <h4>Blog-3</h4>
                    <span class="date">November 17 2020</span>
                    <p class="card-text">This is my Blog about...</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5">
        <a href="#" class="text-dark text-right">
            <h5>
                See my Projects
                <i class="fas fa-arrow-right align-middle"></i>
            </h5>
        </a>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center pb-5 text-info">
      <h1 class="display-4 lead">CONTACT FORM</h1>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg-6">
      <form action="#" class="form">
        <div class="row mb-4">
          <div class="form-group col-12">
            <input type="text" class="form-control" placeholder="Full name">
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-12">
            <input type="text" class="form-control" placeholder="Email Address">
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-12">
            <input type="text" class="form-control" placeholder="Subject of the message...">
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-12">
            <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Type Your Message Here..."></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="Submit" class="btn btn-primary rounded-pill" value="Send Message">
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-5">
      <h3>CITY</h3>
      <ul class="list-unstyled mb-5">
        <li class="mb-3">
          <strong class="d-block mb-1">Address</strong>
          <span>-------------------</span>
        </li>
        <li class="mb-3">
          <strong class="d-block mb-1">Phone</strong>
          <span>+91 -----------</span>
        </li>
        <li class="mb-3">
          <strong class="d-block mb-1">Email</strong>
          <span>youremail@domain.com</span>
        </li>
      </ul>
      <h3>CITY</h3>
      <ul class="list-unstyled mb-5">
        <li class="mb-3">
          <strong class="d-block mb-1">Address</strong>
          <span>-------------------</span>
        </li>
        <li class="mb-3">
          <strong class="d-block mb-1">Phone</strong>
          <span>+91 -----------</span>
        </li>
        <li class="mb-3">
          <strong class="d-block mb-1">Email</strong>
          <span>youremail@domain.com</span>
        </li>
      </ul>
    </div>
  </div>  
</div>

<footer>
  <div class="container-fluid text-center my-5" style="background-color: black; margin-bottom: 0px !important;">
      <div class="row mb-5 py-5">
          <div class="col-md-3 py-3">
            <h5 class="text-info pb-3">Services</h5>
             <p>
               <span class="d-inline-block d-md-block text-white">Type address....</span>
             </p>
          </div>
          <div class="mol-md-5 mx-auto">
            <div class="row">
              <div class="col-lg-4">
                <h5 class="text-info pb-3">Services</h5>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Content Marketing</a></li>
                  <li><a href="#" class="text-white">Brand & Logo</a></li>
                  <li><a href="#" class="text-white">Social Advertising</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h5 class="text-info pb-3">Resources</h5>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Social Marketing</a></li>
                  <li><a href="#" class="text-white">Web Design</a></li>
                  <li><a href="#" class="text-white">Web Development</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h5 class="text-info pb-3">Templates</h5>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Illustration </a></li>
                  <li><a href="#" class="text-white">Video Editing</a></li>
                  <li><a href="#" class="text-white">Copy Writing</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-3">
              <h5 class="text-info pb-3">Social</h5>
              <a href="#">
                  <i class="fab fa-linkedin text-light h1 d-block"></i>
              </a>
              <a href="#">
                  <i class="fab fa-twitter text-light h1 d-block"></i>
              </a>
              <a href="#">
                  <i class="fab fa-facebook text-light h1 d-block"></i>
              </a>
          </div>
      </div>
      <div class="text-muted py-3">
          <p>Copyright &copy; 2020 All rights reserved</p>    
          </div>
      </div>
  </div>
</footer>
</body>
</html>
